<ion-content [fullscreen]="true">
  <div class="container-login">
    <mat-card class="card-login" appearance="outlined">
      <div>
        <div class="button">
          <button [routerLink]="['/tutor/create']" mat-raised-button matTooltip="Cadastrar" class="button-cadastrar">CADASTRAR</button>
        </div>
        <div class="button" class="div-button-entrar">
          <button [routerLink]="['/login']" mat-raised-button matTooltip="Entrar" class="button-entrar">ENTRAR</button>
        </div>
      </div>
    </mat-card>
  </div>  
</ion-content>
