#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.imagemDeFundo{
  background: url('../../../assets/CastraBus11.jpg');
  width: 390px;
  height: 844px;
}

.container-login {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../../assets/CastraBus11.jpg");
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.button-cadastrar {
  margin-right: 10px;
  background-color: #419FD9 !important;
  color: white !important;
  width: 279px;
  height: 76px;
}

.button-entrar {
  margin-right: 10px;
  background-color: #F2F2F2 !important;
  color: #419FD9 !important;
  width: 279px;
  height: 76px;
}

.card-login {
  width: 300px;
  padding: 10px;
  /*border-color: #fff;
  border: 1px solid lightgrey;*/
}

.div-button-entrar {
  margin-top: 15px;
}

