<ion-content [fullscreen]="true">
  <div class="container">
    <div class="form">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email">
            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            Email é obrigatório
            </mat-error>
            <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            Email inválido
            </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
            <mat-label>Senha</mat-label>
            <input matInput formControlName="password" type="password">
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Senha é obrigatória
            </mat-error>
        </mat-form-field>
  
        <div class="button-group">
          <button mat-raised-button style="background-color: #61A651;" type="submit" [disabled]="loginForm.invalid">
          LOGIN
          </button>
          <button mat-raised-button color="warn" type="button" (click)="navigateTo()">Voltar</button>
      </div>
      </form>
    </div>
  </div>  
</ion-content>